@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bootstrap-4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/song.css">
    <link rel="stylesheet" href="/css/showPlaylist.css">
</head>

<body>

    <div class="header">

        <div class="logo-box">
            <img src="~/image/logo.jpg" class="logo" alt="logo" runat="server" />
        </div>
        <div class="logo-title">
            <h4>My Music</h4>
        </div>

        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search">
            <button class="search-button">
                <img src="~/image/search.png" alt="Search" runat="server" />
            </button>
        </div>
        <div class="account-container">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="logout-btn" href="/Users/Logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                <a id="Dangnhap" href="/UserPlaylists/Index">@User.Identity.Name</a>
            }
            else
            {
                <a id="Dangnhap" href="/Users/Login">Đăng nhập</a>
                <a id="Dangky" href="/Users/Register">Đăng ký</a>
            }
        </div>
    </div>
    <hr id="hr-header">

    <div class="body">
        @await Component.InvokeAsync("Sidebar")
        <div class="main">

            <!-- Danh sach lựa chọn -->
            @await Component.InvokeAsync("Option")

            <!-- Danh sách bài hát -->
            @RenderBody()

            <!-- Kết thúc danh sách -->

        </div>
    </div>

    <div class="footer">
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="~/js/song.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

